.header-top-margin
{
	margin-top: 20px;
}

.header-link-margin
{
	margin-top: 35px;
}

.hr
{
	background:black;
	border:0;
	height:2px
}

.index-text-margin
{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.ui-icon.inline
{
	display: inline-block;
}
/*Begin Andrew's Code*/
/*
.body-color{
	background:#3C2323;
	color: white;
}
.container
{
	background:#4A0000;
}
*/
@font-face
{
	font-family: wireframe;
	src:url(../fonts/the_wireframe_demo.otf)
}

.col-md-8
{
	font-family: "wireframe";
}

.body-color{
	font-family: "Lucida Console";
}

.container
{
	font-family: "Lucida Console";
}

/*
.col-md-4
{
	background:#002c2c
}
.btn:link
{
	color:#001010
}
.btn:visited
{
	color:#2e4848
}
.btn:hover
{
	color:white
}
*/
/* end Andrew's Code */